.singleContactDiv {
    display: flex;
    width: 300px;
    margin: 10px;
    border: 1px solid white;
}

.singleContactDiv:hover {
    border: 1px solid black;
}

.singleContactDiv img {
    width: 100px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}

.namePop {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    gap: 20px;
}

.celebName,
.celebPop span {
    font-family: "Overpass-Bold", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}